
.mainscreen{
width: 545px;
height: 500px;
background: palevioletred;
padding-left: 50px;
padding-top: 50px;
}
#screen{
    border: solid 2px;
    border-radius: 8px;

    /* background: #000; */
width: 490px ;
height: 100px;
}
.cyan{
    width: 230px;
    height: 150px;
    background: cyan;
}
.black{
    color: white;
    width: 230px;
    height: 150px;
    background: black;
}
.green{
    width: 230px;
    height: 150px;
    background: green;
}
.yellow{
    width: 230px;
    height: 150px;
    background: yellow;
}